:root {
  --show-opacity: 0.99999
}

@-webkit-keyframes animationFadeIn {
  0%   { opacity: 0; }
  100% { opacity: var(--show-opacity) !important; }
}
@-moz-keyframes animationFadeIn {
  0%   { opacity: 0; }
  100% { opacity: var(--show-opacity) !important; }
}
@-o-keyframes animationFadeIn {
  0%   { opacity: 0; }
  100% { opacity: var(--show-opacity) !important; }
}
@keyframes animationFadeIn {
  0%   { opacity: 0; }
  100% { opacity: var(--show-opacity) !important; }
}

#header {
  background-color: yellowgreen;
}

a, a:link, a:visited, a:hover {
  color: #ffaa17 !important;
  text-decoration: unset;
  font-weight: bold;
}

/* Texto Simple */
.texto-simple {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px !important;
  margin-bottom: 50vh;
}

.texto-simple.active{
  background-color: #1a1a1a;
}

.texto-simple >  .dark {
  text-align: justify;
  margin: auto;
  min-height: 90vh;
  background-color: inherit !important;
  max-width: 950px;
}
.texto-simple >  .dark >  h3 {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}
.texto-simple >  .dark >  p {
  font-size: 30px;
  font-weight: bold;
  color: #ffffffc7
}

/* Texto Avanzado */
.texto-avanzado {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px !important;
  margin-bottom: 50vh;
}

.texto-avanzado.active {
  background-color: #1a1a1a;
}
.texto-avanzado >  .dark {
  text-align: justify;
  margin: auto;
  min-height: 90vh;
  background-color: inherit !important;
  max-width: 950px;
}

.texto-avanzado >  .dark >  p {
  font-size: 30px;
  font-weight: bold;
  color: #ffffffc7
}

.texto-avanzado >  .dark > p > h3 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

img {
  opacity: 0.999 !important;
}
.texto-avanzado >  .dark > img {
  width: 50%;
  display: block;
  margin: 5vh auto;
  max-width: 450px;
}

/* Sumario */
.sumario {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px !important;
  margin-bottom: 50vh;
}

.sumario.step.active {
  background-color: #1a1a1a;
}

.sumario >  .dark {
  text-align: justify;
  margin: auto;
  min-height: 90vh;
  background-color: inherit !important;
  max-width: 1420px;
}

.sumario >  .dark >  h3 {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}
.sumario >  .dark >  p {
  font-size: 30px;
  font-weight: bold;
  color: #ffaa17
}

/* Infografia */
.infografia {
  min-width: 100vw;
  /* min-height: 100vh; */
  padding: 0px !important;
  margin-bottom: 50vh;
}

.infografia.active {
  background-color: #1a1a1a;
}

.infografia >  .dark {
  text-align: justify;
  margin: auto;
  /* min-height: 90vh; */
  background-color: inherit !important;
  padding: 100px;
}

.infografia >  .dark >  p {
  font-size: 20px;
  font-weight: bold;
  color: #ffaa17;
}

.infografia >  .dark > p > h3 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.infografia >  .dark >  img {
  max-width: 2680px;
  max-height: 1680px;
}
/* Footer */
.footer {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px !important;
}

.footer.step.active {
  background-color: #1a1a1a;
}

.footer >  .dark {
  text-align: justify;
  margin: auto;
  min-height: 90vh;
  background-color: inherit !important;
  max-width: 950px;
}

.footer >  .dark >  p {
  font-size: 30px;
  font-weight: bold;
  color: #ffffffc7;
}

.footer >  .dark >  h3 {
  background-color: #ffaa17;
  height: 100px;
  font-size: 60px;
  color: black;
}

.footer >  .dark >  hr {
  max-width: 580px;
  margin: 0px;
  border-color: #ffaa17;
}

.creditos {
  background-color: #ffaa17;
  height: 100px;
}

.fecha {
  font-size: 40px !important;
  color: #ffaa17 !important;
}

.creditos > a {
  font-size: 60px;
  color: black !important
}
/* Texto mapa */
.texto-mapa {
  max-width: 1150px;
  background: rgba(0, 0, 0, .8);
  /* opacity: 0.8 !important;
  background-color: black; */
  padding: 0px!important;
  margin: 5vh auto 50vh 5vw;
}
.texto-mapa >  .dark {
  text-align: justify;
  margin: auto;
  min-height: 90vh;
  /* background-color: inherit !important; */
  background-color: rgba(0, 0, 0, 0) !important;
  max-width: 950px;
}
.texto-mapa >  .dark >  h3 {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}
.texto-mapa >  .dark >  p {
  font-size: 30px;
  font-weight: bold;
  color: #ffffffc7
}

figcaption {
  font-size: 20px;
  color: #ffaa17;
}

/* START BASE CSS */

body {
  margin:0;
  padding:0;
  font-family: roboto;
}
a, a:hover, a:visited {
  color: #0071bc;
}
#map {
  top:0;
  height: 100vh;
  width:100vw;
  position: fixed;
}
#header {
  margin: auto;
  width: 100%;
  position: relative;
  z-index: 5;
}
#header h1, #header h2, #header p {
  margin: 0;
  padding: 2vh 2vw;
  text-align: center;
}
#footer {
  width: 100vw;
  padding-bottom: 2vh;
  background-color: #1a1a1a;
  text-align: center;
  position: relative;
  z-index: 5;
}

#footer > #credito {
  background-color: #ffaa17;
  width: 100%;
  height: 100px;
}

#footer > #credito > p{
  font-size: 60px;
  max-width: 950px;
  padding: 25px 50px;
  font-weight: bold;
  margin: auto;
  text-align: left;
  padding-top: 10px;
}

#footer > #cline{
  max-width: 950px;
  margin: auto;
}

#footer > #cline hr {
  max-width: 580px;
  margin: 0px;
  border-color: #ffaa17;
  padding: 0px 50px;
}


#footer > p {
  color: white;
  font-size: 30px;
  max-width: 950px;
  padding: 0px 50px;
  text-align: left;
  margin: 20px auto;
}

#features {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.hidden {
  visibility: hidden;
}
.centered {
  width: 50vw;
  margin: 0 auto;
}
.lefty {
  width: 33vw;
  margin-left: 5vw;
}
.righty {
  width: 33vw;
  margin-left: 62vw;
}
.fully {
  width: 100%;
  margin: auto;
}
.light {
  color: #444;
  background-color: #fafafa;
}
.dark {
  color: #fafafa;
  background-color: #444;
}
.step {
  padding-bottom: 50vh;
  /* margin-bottom: 10vh; */
  opacity: 0;
}

.step.active {
  padding-bottom: 50vh;
  /* margin-bottom: 10vh; */
  animation: animationFadeIn forwards 500ms;
  opacity: var(--show-opacity);
}

.step div {
  padding:  25px 50px;
  line-height: 25px;
  font-size: 13px;
}

.step img {
  width: 100%;
}

@media (max-width: 750px) {
  .centered, .lefty, .righty, .fully {
      width: 90vw;
      margin: 0 auto;
  }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  touch-action: unset;
}

/* END BASE CSS */

/* Modal */

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  height: 80%;
  max-width: 300%;
  object-fit: contain;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#img-modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  color: #ccc;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #img-modal-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
