@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --show-opacity: 0.99999;
  --solid-color: #1a1a1a;
}


header {
  z-index: 5;
  position: relative;
  background-color: black;
  height: 30px;
  padding: 15px 50px;
}

header > div {
  float: left;
  position: relative;
  display: flex;
  height: 100%;
  width: 50%;
}

header a {
  height: 100%;
  display: flex;
}

header img {
  max-height: 100%;
  object-fit: contain;
  display: block;
}

header #social-media div {
  width: 30px;
  margin-left: 15px;
}
header #social-media {
  justify-content: flex-end;
}
header #home-button {
  justify-content: flex-start;
}

#home-button div {
  width: 100%;
}

@media (max-width: 750px) {
  header {
    height: 20px;
    padding: 5px 15px;
  }
  header #social-media div {
    width: 20px;
    margin-left: 15px;
  }
}

footer {
  position: relative;
  z-index: 5;
  background-color: #1a1a1a;
}

footer #otherworks {
  display: flex;
  color: white;
  font-size: 18pt;
  line-height: 26pt;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#otherworks img {
  object-fit: cover;
  width: 200px;
  height: 150px;
}
#otherworks .owork {
  display: flex;
  flex-direction: column;
}
.owork {
  margin: 10px 5px;
}
.owork a, .owork a:visited {
  color: white !important;
}
.owork a:hover {
  color: #ffaa17 !important;
}
.owork a p {
  text-align: center;
  margin: 2px;
}

footer .stripe {
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  justify-content: center;
}

footer .stripe div {
  font-size: 24pt;
  line-height: 80px;
}

@media (max-width: 750px) {
  footer .stripe div {
    font-size: 14pt;
  }
}

#header {
  background-color: #ffaa17;
}

a, a:link, a:visited, a:hover {
  color: #ffaa17 !important;
  text-decoration: unset;
  font-weight: 700;
}

html {
  overflow-x: auto;
  overflow-y: auto;
  /* scroll-snap-type: y mandatory; */
}

/* all steps */
.step {
  display: flex;
}

/* Texto Simple */
.texto-simple {
  min-width: 100vw;
  padding: 0px !important;
  background-color: var(--solid-color);
}

.texto-simple > .dark {
  text-align: left;
  margin: auto;
  background-color: inherit !important;
  max-width: 550px;
}
.texto-simple > .dark >  h3 {
  font-size: 18pt;
  line-height: 26pt;
  font-weight: 600;
  color: #ffffff;
}
.texto-simple > .dark >  p {
  font-size: 16pt;
  line-height: 26pt;
  font-weight: 400;
  color: #ffffffc7
}
@media (max-width: 750px) {
  .texto-simple > .dark >  h3 {
    font-size: 12pt;
    line-height: 16pt;
  }
  .texto-simple > .dark >  p {
    font-size: 14pt;
    line-height: 19pt;
  }
}

/* Embeded content */
.embeded {
  min-width: 100vw;
  background-color: var(--solid-color);
  padding-bottom: 0 !important;
}
.embeded > .dark >  p {
  position: relative;
  height: 0;
  overflow: scroll;
}
.embeded > .dark {
  margin: auto;
  background-color: inherit !important;
  max-width: 950px;
  width: 100%;
}
.embeded iframe,
.embeded embed {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}
#video-documental p {
  padding-bottom: 56.25%;
}
#tableau p {
  padding-bottom: 30.87%;
}
@media (max-width: 700px) {
  #tableau p {
    padding: 0;
    padding-bottom: 10.87%;
  }
}
#tableau .dark {
  max-width: 950px;;
}

/* Texto Avanzado */
.texto-avanzado {
  min-width: 100vw;
  padding: 0px !important;
  background-color: var(--solid-color);
}

.texto-avanzado > .dark {
  text-align: left;
  margin: auto;
  background-color: inherit !important;
  max-width: 550px;
}

.texto-avanzado > .dark >  p {
  font-size: 16pt;
  line-height: 26pt;
  font-weight: 400;
  color: #ffffffc7
}

.texto-avanzado > .dark > p > h3 {
  font-size: 18pt;
  line-height: 26pt;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
}

.texto-avanzado > .dark > p > h2 {
  font-size: 17pt;
  line-height: 26pt;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

img {
  opacity: var(--show-opacity) !important;
}

.texto-avanzado > .dark > img {
  width: 50%;
  display: block;
  margin: 5vh auto;
  max-width: 400px;
}


@media(max-width: 750px) {
  .texto-avanzado > .dark > p > h3 {
    font-size: 18pt;
    margin: 1vh auto;
  }
  .texto-avanzado > .dark > img {
    width: 100%;
  }
}

/* Sumario */
.sumario {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px !important;
  background-color: var(--solid-color);
}

.sumario > .dark {
  text-align: left;
  margin: auto;
  background-color: inherit !important;
  max-width: 680px;
}

.sumario > .dark >  p {
  font-weight: 300;
  font-size: 21pt;
  line-height: 30pt;
  color: #ffaa17
}
@media (max-width: 750px) {
  .sumario > .dark >  p {
    font-size: 19pt;
    line-height: 27pt;
  }
}

/* Infografia */
.infografia {
  min-width: 100vw;
  padding: 0px !important;
  background-color: var(--solid-color);
}

.infografia > .dark {
  text-align: left;
  margin: auto;
  background-color: inherit !important;
  padding: 100px 200px;
}

.infografia > .dark >  p {
  font-size: 14pt;
  line-height: 24pt;
  margin: 0;
  font-weight: 400;
  color: #ffaa17;
}
@media (max-width: 750px) {
  .infografia > .dark >  p {
    font-size: 12pt;
  }
  .infografia > .dark {
    padding: 5vw;
  }
}

.infografia > .dark >  img {
  max-width: 100%;
  max-height: calc(100vh - 200px);
  object-fit: contain;
}


/* Footer */

#footer {
  width: 100vw;
  min-height: calc(100vh - 150px);
  padding-bottom: 150px;
  background-color: #1a1a1a;
  text-align: center;
  position: relative;
  z-index: 5;
}

#footer > #footerheader {
  height: 100px;
}

#footer > #creditos {
  background-color: #ffaa17;
  height: 60px;
  padding-left: 20px;
}

#footer > #creditos > p {
  font-size: 21pt;
  line-height: 60px;
  max-width: 950px;
  font-weight: 700;
  margin: auto;
  text-align: left;
}

#footer > .cline {
  max-width: 950px;
  margin: 40px auto;
}

#footer > .cline hr {
  max-width: 460px;
  margin: 0px;
  border-color: #ffaa17;
  padding: 0px 50px;
}

#footer > p {
  color: #ffffffc7;
  font-size: 14pt;
  line-height: 20pt;
  font-weight: 400;
  max-width: 950px;
  padding: 0px 50px;
  text-align: left;
  margin: 20px auto;
}

.fecha {
  font-size: 15pt !important;
  color: #ffaa17 !important;
  font-weight: 400 !important;
  margin: 60px auto !important;
}

@media(max-width: 750px) {
  .fecha {
    font-size: 14pt !important;
    line-height: 18pt !important;
  }
}

#footer-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#footer-footer a {
  display: inline-block;
  max-width: 90%;
  width: 150px;
  margin: 20px auto;
}
#footer-footer img {
  max-width: 100%;
}

/* Texto mapa */
.texto-mapa {
  max-width: 550px;
  background: rgba(0, 0, 0, .8);
  padding: 0px!important;
  margin: 5vh auto 50vh 5vw;
}
@media(max-width: 750px) {
  .texto-mapa {
    margin: 5vh 0 50vh 0;
    /* scroll-margin: 50vh; */
    /* height: 50vh; */
    /* overflow-y: auto; */
  }
}

.texto-mapa > .dark {
  text-align: left;
  margin: auto;
  /* background-color: inherit !important; */
  background-color: rgba(0, 0, 0, 0) !important;
  max-width: 450px;
  padding: 50px;
}
.texto-mapa > .dark >  h3 {
  font-size: 22pt;
  line-height: 26pt;
  font-weight: 900;
  color: #ffffff;
}
.texto-mapa > .dark >  p {
  font-size: 16pt;
  line-height: 26px;
  font-weight: 400;
  color: #ffffffc7
}

figcaption {
  font-size: 14pt;
  line-height: 24pt;
  font-weight: 400;
  color: #ffaa17;
}

@media (max-width: 750px) {
  figcaption {
    font-size: 12pt;
  }
}

/* START BASE CSS */

body {
  width: 100vw;
  overflow: hidden;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}
a, a:hover, a:visited {
  color: #0071bc;
}
#map {
  top:0;
  height: 100vh;
  width:100vw;
  position: fixed;
}
#header {
  margin: auto;
  width: 100%;
  position: relative;
  z-index: 5;
  color: white;
  min-height: max(100vh, 500px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./Incendios-amazonas-agro.jpg");
}
#header h1, #header h2, #header p {
  margin: 0;
  padding: 2vh 2vw;
  text-align: center;
}

#features {
  /* padding-top: 10vh; */
  padding-bottom: 10vh;
}
.hidden {
  visibility: hidden;
}
.centered {
  margin: 0 auto;
}
.lefty {
  margin-left: 5vw;
}
.righty {
  margin-left: calc(100vw - 600px);
}
.fully {
  width: 100%;
  margin: auto;
}
.light {
  color: #444;
  background-color: #fafafa;
}
.dark {
  color: #fafafa;
  background-color: #444;
}
.step {
  padding-bottom: 50vh;
  opacity: var(--show-opacity) !important;
}

.show-map {
  margin-bottom: 50vh !important;
}

.step div {
  padding: 75px 50px;
  line-height: normal;
  font-size: 13px;
}

.step img {
  width: 100%;
}

@media (max-width: 750px) {
  .centered, .lefty, .righty, .fully {
      width: 90vw;
      margin: 0 auto;
  }
  .step div {
    padding: 75px 40px;
  }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  touch-action: unset;
}

/* END BASE CSS */

/* Modal */

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  height: 80%;
  max-width: 300%;
  object-fit: contain;
  padding: 30px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#img-modal-caption {
  position: fixed;
  bottom: 15px;
  left: 15px;
  color: #ffaa17;
  font-size: 20px;
  font-weight: 400;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #img-modal-caption {
  animation-name: zoom;
  animation-duration: 0.8s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
